# ========================
# Java / Maven
# ========================
target/
*.class
.mvn/

# ========================
# Node / Angular
# ========================
node_modules/
dist/
.angular/
coverage/
.cache/
out-tsc/

# ========================
# Logs
# ========================
*.log
logs/
npm-debug.log*

# ========================
# IDEs
# ========================
.idea/
*.iml

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db